/* グレー系 */

$dark_gray: #666666;
$gray: #cccccc;
$light_gray: #eeeeee;
$very_light_gray: #fafafa;

/* マゼンダ系 */

$dark_magenda: #8b008b;
$very_dark_magenda: darken($dark_magenda, 25%);

/* 赤系 */
$red: #cc0000;
$pink: #ffcccc;

/* 緑系 */
$green: #00cc00;
